.dashboard{
    .container{
        max-width: 950px;
    }
   .box{
     margin-bottom: 35px

    }
}
.plan_detailes{
    min-height: 255px;
    &__top{
        padding: 0 0 0 25px;
        p{
            font-size: 14px;
        }
    }
    &__name{
        background-color: #47cf86;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        height: 32px;
        width: 141px;
        border-top-right-radius: 3px;
        img{
            margin-right: 12px;
            height: 17px;
        }
    }
    &__list{
        list-style: none;
        padding: 0 18px;
        li{
            padding: 16px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                // color: #808080;
                margin-bottom: 0;
                font-size: 12px;
                font-weight: 400;
                b{
                    // color: #999;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}

.plan_graph{
    min-height: 255px;
    &__top{
        padding: 6px 18px 5px 18px;
        p{
            font-size: 14px;
        }
       a{   
           font-size: 12px;   
           &:hover{
               color: #2693ff;
               text-decoration: none;
           }
        }
    }
    canvas{
        padding: 0 18px;
        // margin: 44px 0;
    }
    .chart__content{
        display: none;
    }
    .chart__numbers{
        display: flex;
        justify-content: flex-end;
        .chart_open{
            margin-left: 15px;
            &.rotate{
                img{
                    transform: rotate(0deg);
                }
            }
            img{
                height: 10px;
                transform: rotate(90deg);
            }
        }
        p{
            color: #616161;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.4px;
            text-transform: uppercase;
            margin-left: 12px;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            &:first-child{
                margin-left: 0;
            }
            img{
                height: 10px;
                margin-right: 4px;
            }
        }
    }
    
    nav{
        margin-bottom: 20px;
        .nav{
            border-bottom: 0;
            .nav-link{
                width: 33.3%;
                border-radius: 0;
                border: 0;
                color: #616161;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                background-color: #f0f9fc;
                text-align: center;
                &.active{
                    background-color: #87e0f4;
                    color: #fff;
                }
            }
        }
    }
}
.plan_announcement{
    max-height: 255px;
    min-height: 255px;
    overflow: hidden;
    &__top{
        padding: 6px 18px 5px 18px;
        p{
            font-size: 14px;
        }
    }
    &__checkboxes{
        max-height: 325px;
        overflow-y: scroll;
        padding: 18px;
        label{
            p{
                font-size: 12px;
            }
        }

    }
}
.plan_how{
      min-height: 255px;
    &__top{
        padding: 6px 18px 5px 18px;
        p{
            font-size: 14px;
        }
     p{
         span{
             color: #999999;
             font-size: 12px;
             font-weight: 400;

         }
     }
        
    }
    &__list{
      padding: 0px;
      height: 220px;
      ul {
          padding: 18px 0;
          width: 33.3%;
          border-right: 1px solid #d2eef9;
        .title{
           margin-bottom: 30px;
           color: #808080;
           font-size: 12px;
           font-weight: 400;

        }
        li{
            list-style: none;
            margin-bottom: 30px;
            img{
                height: 18px;
            }
            &:last-child{
                margin-bottom: 10px;
            }
        }

       }
    }
}
.modal_tutorial{
    .modal-dialog{
        max-width: 100%;
        min-height: auto;
        &:before{
            height: auto;
        }
        .modal-content{
            width: 705px;
            max-width: 100%;
            margin: 0 auto;
            border-radius: 10px;
            border: 1px solid #d2eef9;
            background-color: #ffffff;
        }
        .modal-header{
            padding: 31px 15px 13px 15px;
            border-bottom: 0;
            .modal-title{
                color: #383838;
                font-size: 20px;
                font-weight: 600;
            }
            .close{
                opacity: 1;
                outline: 0;
                padding: 0;
                margin: 0;
                span{
                    color: #2693ff;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
        .modal-body{
        padding: 0 15px 15px 15px;
        iframe{
            margin-bottom: 12px;

        }
        p{
            color: #383838;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
        }
        }

    }
}

 