//plans
.plans{
    padding-bottom: 50px;
    .container{
        max-width: 750px;
        
    }
    &__notification{
        margin-bottom: 17px;
        .box {
            border-radius: 6px;
            background-color: rgba(255, 238, 222, 0.6) !important;
            border: 1px solid #f15a24 !important;
           p{
               color: #4d4d4d;
               font-size: 16px;
               font-weight: 400;
               line-height: 29px;
               margin-bottom: 0;
               padding: 9px;
               b{
                   color: #2693ff;
                   font-weight: 600;
               }
           }  
        }
    }
    &__wrapper{
        margin-bottom: 22px;
    }
    &__cancel{
        .box{
            padding: 23px 43px 37px 43px;
            p{
                color: #999999;
                font-size: 14px;
                margin-bottom: 0;
                b{
                    font-weight: 500;
                    font-size: 16px;
                    color: #383838;
                }
            }
            a{
                color: #f15a24;
                font-size: 14px;
                font-weight: 500;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
.plans_wrapper{
    &__space{
        padding: 31px 43px 20px 43px;
    }
}
.plans_item{
    margin-bottom: 30px;
    &:hover{
        transition: 0.3s;
        .box{
            border-color: #009cde;
        }
    }
    .box{
        transition: 0.3s;
        overflow: hidden;
    }
    &__title{
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #d2eef9;
        .title{
            color: #3d3d3d;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
    &__price{
        padding: 22px 5px;
        text-align: center;
        background-color: #e6f5fd;
        .title{
            color: #3d3d3d;
            font-size: 48px;
            font-weight: 700;
            line-height: 1;
           
        }
        span{
            color: #3d3d3d;
            font-size:14px;
            font-weight: 700;
            line-height: 1;
        }
        p{
            color: #3d3d3d;
            font-size: 10px;
            font-weight: 500;
            line-height: 0;
            margin: 0;

        }
        small{
            font-size: 8px;
        }
    }
    &__list{
        padding: 25px 25px 40px 20px;
        ul{
            list-style: none;
            li{
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 20px;
                color: #000;
                font-size: 8px;
                font-weight: 500;
                line-height: 20px;
                &:before{
                    position: absolute;
                    content:"";
                    left: 0;
                    width: 10px;
                    height: 8px;
                    // background-image: url('/src/img/icon_plan_list.svg');
                    background-image: url('/img/icon_cancel_arrow.svg');
                    background-repeat: no-repeat;
                    background-size: 10px;
                }
            }
        }
    }
    &__btn{
        p, a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 43px;
            color: #880088;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            margin: 0;
            transition: 0.3s;
            border-radius: 0 0 5px 5px;
            &:hover{
                transition: 0.3s;
                color: inherit;
                text-decoration: none;
            }
            
        }
        .bg_green{
            background-color: #39b54a;
        }
        .bg_grey{
            background-color: #f2f2f2;
        }
        .bg_blue{
            background-color: #00b4f1;
        }
    }
}

//palns toggle

.plans__toggle{
    text-align: center;
    margin-bottom: 33px;
    .toggle, .toggler{
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
    }
    .toggler{
        transition: .2s;
        color: #999999;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .toggler--is-active{
        color: #00b4f1;
    }
    b{
        display: block;

    }
    .toggle{
        position: relative;
        width: 48px;
        height: 22px;
        border-radius: 100px;
        background-color: #00b4f1;
        overflow: hidden;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.5);
    }
    .check{
        position: absolute;
        display: block;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 6;
    }
    .check:checked ~ .switch{
        right: 2px;
        left: 57.5%;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0.8s, 0s;
    }
    .switch{
        position: absolute;
        width: 18px;
        height: 18px;
        left: 3px;
        top: 2px;
        right: 57.5%;
        background-color: #fff;
        border-radius: 36px;
        z-index: 1;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0s, .08s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
}
.modal_professional{
    .modal-dialoge{
        max-width: 720px;
    }
    .modal-content{
        margin: 0 auto;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        border-radius: 9px;
        border: 0;
        .modal-body{
            padding: 0;
        }
    }
    &__left{
        background-color: #e6f5fd;
        border-radius: 7px 0 0 7px;
        padding: 25px 20px;
        height: 100%;
        .title{
            color: #383838;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 15px;
            b, strong{
             font-weight: 700;
            }
        }
        ul{
            margin-bottom: 15px;
            li{
                display: flex;
                justify-content: space-between;
                p{
                    color: #383838;
                    font-size: 10px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    b,strong{
                        font-weight: 600;
                    }
                }
            }
            &:first-of-type{
                border-bottom: 1px solid #d2eef9;

            }
            &:nth-of-type(2){
                border-bottom: 0;
            }
        }
        .price{
            color: black;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
        }
    }
    &__right{
        .b-b{
            display: flex;
            justify-content: space-between;
            padding: 13px 35px;
            a{
                color: #999;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
                text-decoration: none;
            }
            select{
                color: #999999;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: 0;
                border-radius: 0;
                outline: 0;
                cursor: pointer;
                // background: url('/img/icon_cancel_arrow.svg') 100% / 30% no-repeat transparent;
                background: url('/img/icon_cancel_arrow.svg') 100% / 3% no-repeat transparent;
            }
        }
        .btn_blue{
            width: 140px;
            height: 34px;
            background-color: #2693ff;
            color: #fff;
            &:hover{
                color: #2693ff;
                background-color: #fff;
            }
        }
        .btn_next{
            padding: 30px 30px 20px 30px;
        }
    }
}

.professional_billing{
    padding: 25px 33px 20px 30px;
    a{
        &:hover{
            color: inherit;
            text-decoration: none;

        }
    }
    &__info{
        .title{
            color: #383838;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            b, strong{
                font-weight: 700;
            }
        }
        .sm_title{
            font-size: 10px;
            color: #383838;
            font-weight: 400;
            margin-bottom: 10px;
        }
        input[type="text"]{
            width: 100%;
            resize: none;
            height: 36px;
            border-radius: 5px;
            border: 1px solid #d3eef9;
            outline: 0;
            padding-left: 13px;
        }
        .box{
            padding: 10px 13px;
            border-radius: 2px;
            .card{
                color: #999999;
                font-size: 12px;
                font-weight: 300;
                border:0;
                margin-bottom: 3px;
            }
            p{
                color: #999;
                font-size: 8px;
                font-weight: 300;
                margin-bottom: 0;
                a{
                    color: #2693ff;
                    margin-left: 23px;
                }
            }
            .form-check{
                .cr{
                    margin-right: 0;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                }
            }
        }
        ul{
            li{
                list-style: none;
                margin-right: 5px;
                a{
                    width: 103px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s;
                    &:hover{
                        transition: 0.3s;
                        border-color: #2693ff;
                        img{
                            transition: 0.3s;
                            opacity: 1;
                        }
                    }
                    &.active{
                    border-color: #2693ff;
                    img{
                        opacity: 1;

                    }
                    }
                    img{
                        height: 12px;
                        transition: 0.3s;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}